.text {
    color: inherit;
}

.error {
    color: var(--red-color);
}

.primary {
    color: inherit;
}

.title {
    font: var(--font-l);
}

.text {
    font: var(--font-m);
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}
