.overlay,
.openOverlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--bg-color-overlay);
}

.modal {
    display: none;
    color: var(--bg-color);
    background-color: var(--inverted-bg-color);
    border-radius: 5px;
    padding: 20px 35px;
}

.openOverlay {
    display: flex;
    align-items: center;
    justify-content: center;
}

.openModal {
    display: block;
}
