.sidebar {
    width: 70px;
    background-color: var(--inverted-bg-color);
    height: 100vw;
    transition: all 0.2s ease;
}

.opened {
    background-color: var(--inverted-bg-color);
    width: 300px;
}