.sidebar {
    width: 70px;
    height: 100%;
    background-color: var(--inverted-bg-color);
    height: 100vw;
    transition: all 0.2s ease;
}
.opened {
    background-color: red;
    width: 300px;
}
